.saved-news {
  padding: 0 96px;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-grow: 1;
}

@media (max-width: 1439px) and (min-width: 768px) {
  .saved-news {
    padding: 0 37px;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .saved-news {
    padding: 0 16px;
  }
}

