.form__button {
  width: 360px;
  height: 64px;
  background: #2F71E5;
  border: none;
  border-radius: 100px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  cursor: pointer;
}

.form__button:disabled {
  background: #E6E8EB;
  color: #B6BCBF;
}

@media (max-width: 430px) and (min-width: 320px) {
  .form__button {
    width: 288px;
    align-self: center;

  }
}