.error-message {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  margin-top: -25px;
  margin-bottom: 12px;
  display: block;
  visibility: hidden;

}
.error-message:last-of-type {
  margin-top: -30px;
  align-self: center;
}