.header__auth {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  height: 48px;
  width: 176px;
  border: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 100px;
  color: #fff;
  background-color: Transparent;
  margin-left: 32px;
  margin-bottom: 13px;
  align-self: center;
}