.header__newsexplorer {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  align-self: center;
  color: #FFFFFF;
}
@media (max-width: 767px) and (min-width: 320px) {
  .header__newsexplorer {
    width: 100%;
    background: transparent;
    padding: 16px 0 16px 4%;
    color: #fff;

  }
  .header__newsexplorer::after {
    content: url(../../../images/menu.svg);
    height: 12px;
    width: 18px;
    position: absolute;
    right: 4%;
    top: 30%;
  }
}
