@import url(./__copyright/footer__copyright.css);
@import url(./__link/footer__link.css);
@import url(./__iconwrap/footer__iconwrap.css);
@import url(./__icon/footer__icon.css);

.footer {
  width: 100%;
  max-width: 1440px;
  padding: 30px 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #fff;
  box-sizing: border-box;
  position: relative;
}

@media (max-width: 1439px) and (min-width: 768px) {
  .footer {
    padding: 2% 3%;
  }
}

@media (max-width: 767px) and (min-width: 450px) {
  .footer {
    padding: 2% 5% 10%;
  }
}

@media (max-width: 449px) and (min-width: 320px) {
  .footer {
    padding: 2% 5% 20%;
  }
}
