@media (max-width: 767px) and (min-width: 320px) {
  .header__nav_menu {
    width: 100%;
    background-color: #1A1B22;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding: 15px 0 10px;
    border-radius: 0 0 16px 16px;
  }
}