.results__more {
  width: 288px;
  height: 64px;
  background: #FFFFFF;
  border: none;
  border-radius: 80px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
  cursor: pointer;
}

.results__more:hover {
  background: #e8e8e8;
  cursor: pointer;
}

.results__more:focus {
  outline: none;
}

@media (max-width: 1439px) and (min-width: 769px) {
  .results__more {
    width: 260px;
    height: 60px;
  }
}

@media (max-width: 768px) and (min-width: 321px) {
  .results__more {
    width: 240px;
    height: 56px;
  }
}