.card__keyword {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  top: 24px;
  left: 24px;
  border: none;
  border-radius: 8px;
  background-color: #fff;
  padding: 8px 13px;
}