.card__text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1A1B22;
  overflow-y: hidden;
  max-height: 88px;
  text-overflow: ellipsis;
}
/* text-overflow: clip; */