@import url(./__newsexplorer/header__newsexplorer.css);
@import url(./__nav/header__nav.css);
@import url(./__main/header__main.css);
@import url(./__auth/header__auth.css);

.header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  color: #fff;
  background-color: rgba(196, 196, 196, 0.01);
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2);
  padding: 0 104px;
  height: 80px;
}