.author__title {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
  margin-top: 55px;
}

@media (max-width: 1439px) and (min-width: 320px) {
  .author__title {
    font-size: 30px;
    line-height: 40px;
  }
}
