@import url(./__img/not-found__img.css);
@import url(./__title/not-found__title.css);
@import url(./__text/not-found__text.css);

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 86px 0;
}
