.form__input {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, .2);
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  box-sizing: border-box;
  margin-bottom: 30px;
  padding-bottom: 8px;
}

.form__input:focus {
  color: #000000;
  outline: 2px solid #72d5ee;
}

.form__input:last-of-type {
  margin-bottom: 40px;
}