@import url(./__content/popup__content.css);
@import url(./__close/popup__close.css);
@import url(./__title/popup__title.css);
@import url(./__form/popup__form.css);
@import url(./__choice/popup__choice.css);
@import url(./__link/popup__link.css);
@import url(./__enter/popup__enter.css);


.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 120;
}

@media (max-width: 430px) and (min-width: 320px) {
  .popup {
    background: transparent;
  }
}